:root{
    --normal: #9f9e72;
    --grass: #62c154;
    --ground: #e0b968;
    --fighting: #BF2D29;
    --rock: #B4993F;
    --steel: #ACA9C3;
    --fire: #f67639;
    --eletric: #FDCB43;
    --flying: #A080E8;
    --psychic: #FF4D7E;
    --bug: #A0B134;
    --dragon: #651EE7;
    --water: #557FE6;
    --ice: #84CFD1;
    --poison: #9D3393;
    --dark: #695042;
    --ghost: #644B89;
    --fairy: #F79DB9;
}

